/* Demo style */
.content-grid > * {
    padding: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
}


/* Grid areas */

.header {
    grid-area: header;
    background-color: lightgreen;
}

.navbar {
    grid-area: navbar;
    background-color: aqua;
}

.content {
    grid-area: content;
    background-color: lightblue;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightcyan;
}

.footer {
    grid-area: footer;
    background-color: lightslategray;
}




