.content-grid {
    display: grid;
    grid-template-columns: 
    /* Added 'content' area */
    1fr [content-start] 1fr [content-end] 1fr;
}

:root {
    --body-bg: #123;
    --nav-bg: rgb(69, 92, 115);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--body-bg);
}

.smol-sidebar {
    display: grid;
    grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
  }

nav {
    top: 0;
    position: sticky;
    /* svh prevents to overflow in movile */
    max-height: 100svh;
    background-color: var(--nav-bg);
  }

  .nav-list {
    /* Reset style */
    margin: 0;
    padding: 0;
    list-style: none;

    /* Space in beteween items */
    display: grid;
    gap: 2rem;
    padding-block: 2rem;
}


/* Hover  state*/
.nav-list li {
    /* demo color */
    /* background-color: pink; */
    padding: 1rem 2rem;
    /* It's like margin-left but as a logic property */
    /* althought this attribute is not usually set here; it's common to do it in '.nav-list' */
    margin-inline-start: 1rem;
    /* Pill left shape */
    border-radius: 100vw 0 0 100vw;

}
.nav-list li.active {
    /* demo-color */
    /* background-color: red; */
    background-color: var(--body-bg);
}

/* reset style hyper-links */
.nav-list a {
    color: white;
    text-decoration: none;
}