/*
================================== 
GENERAL STYLE
==================================
*/


/*
---------------------------------- 
VARIABLES
----------------------------------
*/

:root {

  color-scheme: light;

  /* COLOR PALETTE */

  --primary-color: white;
  --secondary-color: #252525;
  --tertiary-color: #00A650;

  /* Define a radial gradient to create a single dot. 
     'circle at center' ensures the dot is centered within its tile.
     '1px' is the dot size, 'transparent 0' makes the rest of the tile transparent. */
  --dot-pattern: radial-gradient(circle at center, var(--secondary-color) .5px, transparent 0);
  /* Define the size of the repeating background tile; spacing between dot centers. */
  --dot-spacing: 4px 4px;

  /* LAYOUT */

  /* SPACING */
  --spacing-extra-small: 1em;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;

    /* LINE HEIGHT */
  --line-height-tight: calc(1em + var(--spacing-extra-small) * 0.1);
  --line-height-normal: calc(1em + var(--spacing-small)/2);
  --line-height-relaxed: calc(1em + var(--spacing-small));

  /* BREAKPOINT */
  --break-point-tablet: 640px;
  --break-point-pc: 960px;

  /* BREAKOUT CONTENT GRID */
  --grid-max-width: 75rem;
  --padding-inline: var(--spacing-small);

  /* AUTO GRID */
  --grid-max-col-count: 3;
  --grid-min-col-size: 240px;
  --grid-gap: var(--spacing-small);
  /* 🔗3 */
}

[data-theme="dark"] {
  color-scheme: dark;
  --primary-color: #252525;
  --secondary-color: white;
  --tertiary-color: #5d4586;
}

/*
---------------------------------- 
RESET
----------------------------------
Based on Jhon Corneau's solution: 
https://www.joshwcomeau.com/css/custom-css-reset/
*/


/* 1. Use a more-intuitive box-sizing model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */

* {
  margin: 0;
}

/* 3. Enable keyword animations */

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }

  /* Kevin Powell's adition
  • Source: https://gist.github.com/Lego2012/7b7956734f2ab4a95fd0c311cd8bbe95 */

  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

body {
  /* 4. Add accessible line-height */

  line-height: var(--line-height-normal);

  /* 5. Improve text rendering */

  -webkit-font-smoothing: antialiased;
}

/* 4.b Add accessible line-height to headers */
h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-tight);
}


/* h1 {
  font-weight: normal;
} */

/* 6. Improve media defaults */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Reset button's style */

button {
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
}

a.button,
button {
  display: inline-block;
  /* makes padding and background work */
  text-decoration: none;
  /* remove underline */
  color: inherit;
  /* inherit text color unless overridden */
  cursor: pointer;
  /* button-like cursor */
  box-sizing: border-box;
  /* consistent sizing */
}

/* 8. Inherit fonts for form controls */

input,
button,
textarea,
select {
  font: inherit;
}

/* 9. Avoid text overflows */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* 10. Improve line wrapping */

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 11. Create a root stacking context */

#root,
#__next {
  isolation: isolate;
}

/*
================================== 
GENERAL STYLE
==================================
*/

/*
---------------------------------- 
ELEMENTS
----------------------------------
*/


/*
---------------------------------- 
UTILITARIAN CLASSES
----------------------------------
*/

/* Aehestetic classes */

.brand-color {
  background-color: var(--tertiary-color);
}


/*
================================== 
LAYOUT
==================================
*/

.top-padding {
  padding-top: var(--spacing-large);
}

main>*>*+*,
.flow>*+* {
  margin-top: var(--flow-spacing, var(--spacing-extra-small));
}

/* main {
  padding-block: var(--spacing-medium);
} */


/* PADDING SEMANTIC BLOCKS */

section {
  --section-vh: 5vh;
  --section-spacing: var(--spacing-small);
  padding-block: max(var(--section-vh), var(--section-spacing));
}


/* AUTO GRID */

.auto-grid {
  /* calculations, do not touch */
  --grid-col-size-calc: calc((100% - var(--grid-gap) * var(--grid-max-col-count)) / var(--grid-max-col-count));
  --grid-col-min-size-calc: min(100%,
      max(var(--grid-min-col-size), var(--grid-col-size-calc)));

  display: grid;
  gap: var(--grid-gap);

  grid-template-columns: repeat(auto-fit,
      minmax(var(--grid-col-min-size-calc), 1fr));
}

/* Kevin Powell's solution:
• Codepen: https://codepen.io/kevinpowell/pen/GgRwqxJ
• Explanation: https://www.youtube.com/watch?v=CHULPvkXIRo&list=PL4-IK0AVhVjPv5tfS82UF_iQgFp4Bl998 */


/* BREAKOUT CONTENT GRID 

    Notes:
    Based on 'Breakout grid' (SMOL CSS) adaptation by Kevin Powell*
    *) References::after
        - Youtube: https://www.youtube.com/watch?v=c13gpBrnGEw
        - Codepen: https://codepen.io/kevinpowell/pen/ExrZrrw
*/

.content-grid {

  --breakout-max-width: var(--grid-max-width);
  /* Maximum width size for the breakout container */

  --content-max-width: var(--breakout-max-width) * 0.75;
  /* Calculates the content's width*/

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
  /* Calculates the relative size of each extra space of the breakout width size: Substract the content width of the breakout width and divide it by half for each gutter on the sides */

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
      var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid>.breakout {
  grid-column: breakout;
}

.content-grid>.full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

/* Allows to use the grid of it's PARENT container */

/*
================================== 
SITEWIDE
==================================
*/

/*
---------------------------------- 
PRIMARY-HEADER
----------------------------------
*/

#nav {
  display: none;
}

#nav.visible {
  display: block;
}

.primary-header__layout {
  display: grid;
  grid-template-areas:
    "logo    1fr    dark-mode    hamburger-menu"
    "nav     nav    nav          nav";
  grid-template-columns: auto 1fr auto;

}

.primary-header__logo {
  grid-area: logo;
}

.primary-header__logo-link {
  display: flex;
  gap: calc(var(--spacing-extra-small) /2);
  align-items: center;
}

/* DARK-MODE */

.primary-header__theme-toggle {
  grid-area: dark-mode;

  background-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
}

.primary-header__theme-toggle-icon::before {
  content: '☼';
}

.primary-header__theme-toggle[aria-pressed="true"] .primary-header__theme-toggle-icon::before {
  content: '☾';
}

/* HAMBURGER MENU */

.primary-header__toggle {
  grid-area: hamburger-menu;
}

.primary-header__toggle-icon {
  display: block;
  justify-self: right;
}

.primary-header__toggle-icon::before {
  content: '☰';
}

#hamburger[aria-expanded="true"] .primary-header__toggle-icon::before {
  content: '✕';
}

/* NAVIGATION MENU */

.primary-header__nav {
  grid-area: nav;
}

.primary-header__menu {
  padding: 0;
  margin: 0;
}

.primary-header__menu-item {
  list-style-type: none;
}

/* RESPONSIVE */

/* Tablet & Desktop*/

@media (min-width: 640px) {
  #nav {
    display: block;
  }

  .primary-header__layout {
    grid-template-areas:
      "logo    1fr    nav    dark-mode";
    grid-template-columns: auto 1fr auto;
  }

  .primary-header__toggle {
    display: none;
  }

  .primary-header__menu {
    display: flex;
    flex-wrap: wrap;
    /* gap:  clamp(var(--spacing-extra-small), 3vw, var(--spacing-small)); */
  }
}

/*
---------------------------------- 
PRIMARY-HEADER
----------------------------------
*/

footer section.site-footer__section {
  --section-vh: 5vh;
  --section-spacing: var(--spacing-small);
}

.contact-form__label {
  display: block;
}

.contact-form__input,
.contact-form__textarea {
  display: block;
  width: 100%;
}

/* FIX */
.top-padding--small {
  margin-block-start: var(--spacing-extra-small);
}


/*
================================== 
Brutalist
==================================
*/

button:not(.primary-header button) {
  border: 1px solid #000;
}


.primary-header {
  border-bottom: 1px solid #252525;
}

footer {
  border-top: 1px solid #252525;
}


.primary-header__menu-item,
.primary-header__toggle,
.primary-header__logo,
button,
.button {
  padding: var(--spacing-extra-small) var(--spacing-medium);
  border-radius: 4px;
}

.primary-header__menu-item:hover,
.primary-header__toggle:hover,
.primary-header__logo:hover,
button:hover,
.button:hover {
  background-image: var(--dot-pattern);
  background-size: var(--dot-spacing);
}

main {
  min-height: 100vh;
}

.dot {
  background-image: var(--dot-pattern);
  background-size: var(--dot-spacing);
}