<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Model-viewer component -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="..\static\css\style.css">

    <!-- Scripts-->
    <script src="..\static\javascript\hide-navbar-on-scroll.js"></script>

    <title>Blog page - Layout</title>
</head>
<body class="blog-page">
<!-- Layout can be altered changing the body's class:
      - 'blog-page' → "Holy-grail" layout
      - 'wiki-page' → "Dashbord" layout -->

    <header id="navbar" class="primary-header content-grid">
      <div class="primary-header__layout breakout">

        <!-- Logo -->
        <div class="primary-header__logo">
          <a href="../index.html" class="primary-header__logo-link">
            <img src="/logo.svg" alt="Brand name" class="primary-header__logo-image">
          </a>
        </div>

        <!-- Hamburger menu (tablet/mobile only) -->
        <button class="primary-header__menu-toggle" aria-controls="primary-header__nav" aria-expanded="false">
          <span class="primary-header__menu-icon">☰</span>
          <span class="primary-header__menu-label">Menu</span>
        </button>
      
        <!-- Navigation -->
        <nav class="primary-header__nav">
        <ul class="primary-header__menu">
          <li class="primary-header__item">
              <a href="landing.html" class="primary-header__link">Landing</a>
            </li>
          <li class="primary-header__item">
            <a href="blog-page.html" class="primary-header__link">Blog</a>
          </li>
            <li class="primary-header__item">
            <a href="wiki-page.html" class="primary-header__link">Wiki</a>
          </li>
        </ul>
        </nav>
      
      </div>
    </header>
    
    <main>
          <section id="cover" class="content-grid bg-tonal">
            <div class="container breakout">
              <div class="description">
                <h1 class="site-title">Bog layout template</h1>
                <p>A brief documentation about it's anatomy and how to use it</p>
                <caption>Author | August 3, 2024 | 5 min</caption>
              </div>
              <div class="display">
                <!-- Examples to experiment with aesthetic class 'clipart' -->
                <!-- QA Test: Cliparts -->
                <!-- <img src="..\static\img\cover-example.svg" alt="Image related to the article's content.">  -->
                <!--QA Test: Images -->
                <img src="..\static\img\cover-clip-example.webp" alt="Image related to the article's content.">
                <!-- <img src="https://picsum.photos/1500" alt="Image related to the article's content."> -->
              </div>
            </div>
          </section>

          <div class="container breakout holy-grail">
            <aside class="menu toc">
              <nav class="toc__nav">
                <div class="toc-container">
                  <h2 class="toc__title"> Table of contents</h2>
                  <ul class="toc__list">
                    <li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                  </ul>
                </div>
              </nav>
            </aside>

            <article class="main">
              
              <section class="content-grid">
                <h2>About the "Breakout SMOL grid" / "No container grid"</h2>
                <p>
                  It can be useful to have a system in place that's easy to go full-width, or have a "breakout" section for calls to action or blockquotes, or other things you want to call attention to.
                </p>
                <p class="breakout">
                  Traditionally, we use a container or wrapper, which we need to close, and then open again, but thanks to grid, and with the recent additions of subgrid to all the evergreen browsers, maybe there's a better way to do things?
                </p>
                <p>
                  It has it's downsides, as the code is more complex, and it's not as obvious how it works when we're so used to the old pattern.
                </p>
                <p>
                  That said, we shouldn't limit ourselves just because we are used to working in a specific way.
                </p>
              </section>

              <section class="content-grid bg-tertiary">
                <h2>This section has a different background-color</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptates vitae reiciendis corporis molestias aspernatur vero eaque obcaecati neque dolores veritatis repudiandae voluptas consectetur voluptatum nobis maiores doloremque, nostrum deleniti!
                </p>
                <p>
                  Aspernatur, dignissimos. Quaerat corporis, itaque porro dolore ea a placeat molestiae nihil voluptatem veniam facere, corrupti in vel, voluptates enim soluta sint dolores? Quaerat laboriosam iusto  voluptatem accusantium  ex alias?
                </p>
              </section>

              <section class="content-grid">
                <h2>Back to normal</h2>
                <p>
                  To improve user experience, it's adviced to not overuse this type of resources, as the constant breakout feels as distracting as annoying. Avoid breakout the text line too frequently (as you can see right now).
                </p>
                <p class='breakout high-light'>
                  A thumb of rule could be that the higger difference in witdh a breakout element has, the lesser its frequency of use should be. 
                </p>
                <p>
                  In contrast, movile experience doesn't have this type of issues as the layout collaps and this types of breakouts get more nuanced (even full-width elements). Regardless of this, use it discreetly.
                </p>
                <h3>Images as full-bleed doesn't work on desktop..</h3>
                <img class='full-width' src="https://unsplash.it/1600/400" alt="A random image">
                <p>
                  In desktop and wider screens, any element with the utilitarian class "full-width" will appear clipped as they will never meet the sides of the viewport; they are surrounded by two asides.
                  In order to mask this error, a border radius is being applied to make it appear as a constrained element.
                </p>
                <p class="breakout high-light">
                  The same thing happens if a background color utility class is applied.
                  And for the sake of consistency, this rule also applies to breakout elements.
                </p>
                <p>
                  Eligendi ea maiores asperiores sed nobis qui, animi sint? Ratione laboriosam cum quasi repudiandae in,
                  necessitatibus veritatis nihil perferendis maiores consequuntur magnam perspiciatis minus est quibusdam,
                  voluptate voluptas natus corporis.</p>
                <p>
                  Vero, facilis! Animi quam dolor a sunt, quae placeat perspiciatis quia odio quisquam at tempore dolorem eum ratione vel minima eaque repellendus dolores architecto necessitatibus velit reprehenderit amet et rem.
                </p>
                <p>
                  Quos, animi expedita facere iste soluta accusamus et facilis, temporibus nemo praesentium iusto aliquam
                  voluptas magnam pariatur blanditiis optio, corporis laborum quas? Quis libero aperiam est fuga veniam eos tenetur?
                </p>
              </section>
             </article>

             <aside>
               <h2 class="aside__title">Unrelated stuff</h2>
             </aside>
          </div>
    </main>

    <footer class="content-grid dark-theme">
      <p class="breakout">@ 2025-2024</p>  
    </footer>
</body>
</html>