<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\grid-breakout-layout.css">
    <title>Grid: Breakout layout</title>
</head>
<body class="grid">
    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos saepe eius necessitatibus, officiis error aliquam iste molestias illum cum at quod molestiae. Blanditiis, minus.</p>
        <img src="https://picsum.photos/seed/picsum/300/100" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos sit dolorum qui sequi quia eaque! Beatae velit vel sed dicta. Ab reiciendis vitae alias voluptate culpa facere, officiis corporis natus aspernatur necessitatibus tenetur dignissimos iure saepe.
        </p>
    </main>
</body>
</html>