<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General style -->
     <link rel="stylesheet" href="..\static\css\style.css">
     <!-- Layout style -->
    <link rel="stylesheet" href="..\static\css\grid-MDN-holy-grail.css">
    <title>Grid layout: Holy grail</title>
</head>
<body class="content-grid">

    <header class="header">
        <div class="container">
            <div class="topbar">Home | Services | Portfolio | Resources | Blog | CTA | ≡</div>
            <div class="actionbar"> ≡ | Breadcrumb navigation</div>
        </div>
    </header>

    <main class="content">
        <article>
            <img src="https://picsum.photos/300/200" alt="Random image">
            <div class="article__data">Author | Date | Reading time</div>
            <h1>Title of the article</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio autem atque unde nesciunt repudiandae asperiores in, explicabo odio dolorum tempora, harum omnis suscipit eos, magni architecto ducimus. Aliquam minima doloremque quisquam quis.</p>
            <h2>Title of the section</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam sequi suscipit eligendi neque magnam incidunt earum necessitatibus, inventore alias, ipsum dolorem vel quo enim rem doloribus repellendus impedit officiis numquam libero, consequatur eos placeat laudantium sit nihil. Unde, ipsam! Delectus dolorem quibusdam quos iste facilis, esse laborum reprehenderit.</p>
        </article>

    </main>

    <!-- Use aside if it's not the principal navigation bar. If it's a dashbord, then this tag should be <nav class="navbar"> -->
    <aside class="sidebar">
        <!-- MDN Barebone Structure -->
        <nav class="related-topics">
            <section class="toc">
                <header>
                    <h2>Table of contents</h2>
                </header>
                <ul class="toc-list">
                    <li>Introduction</li>
                    <li>Subsection X</li>
                    <li>Conclusion</li>
                </ul>
            </section>
            <!-- Another section could be used with the same structure to add a Wiki-ish / document navigation. If so, take in mind that if the list of links have a certain order, then it should be used an <ol> tag not <ul>. -->
        </nav>
    </aside>

    <aside class="ads">Optional content / Ads</aside>

    <footer class="footer">Footer</footer>
    
</body>
</html>