<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General style -->
     <link rel="stylesheet" href="..\static\css\header.css">
     <!-- Layout style -->
    <link rel="stylesheet" href="..\static\css\grid-holy-grail.css">
    <title>Header</title>
</head>
<body class="content-grid">

    <header class="header">Principal Navigation bar</header>
    <navbar class="navbar">Secondary Navigation bar</navbar>
    <main class="content">Content</main>
    <aside class="sidebar">Table of contents</aside>
    <footer class="footer">Footer</footer>
    
</body>
</html>