<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Layout style -->
    <link rel="stylesheet" href="..\static\css\header-no-js+mdn.css">
    <title>Grid layout: Holy grail</title>
</head>
<body class="content-grid">

    <header>
        <!-- Principal navigation bar -->
        <nav class="primary-nav">
            <div class="primary-nav__container">
                <a href="#" class="nav__title">HOME</a>
                <button class="primary-nav__menu" onclick="">
                    <span class="nav__icon">≡</span>
                    <span class="nav__icon">≡</span>
                    <!-- No, no. This will be a problem as well, or at least it can't be helped: It's a fundamentall for this tecnhique the use of Href.
                     So, let's try to fix the focus issue or scrap the No-js solution and try with a traditional yes JS solution. -->
                </button> 
                <!-- This will go in replacement of <a href="#menu" class="nav__menu"> 
                    However I still need to find a way to reference '#menu'. Maybe with an 'event-listener', something like this https://www.geeksforgeeks.org/how-to-create-an-html-button-that-acts-like-a-link/-->
            </div>
        </nav>
        <!-- Secondary navigation bar -->
        <nav class="secondary-nav"></nav>
    </header>



    <div class="header-container">
        <header class="top-navigation">
            <div class="container">
                <div class="top-navigation-wrap">
                    <!-- Logo / Home -->
                    <a href="">HOME</a>
                    <!-- Hamburger menu -->
                    <button>
                        <span>
                            <span>≡</span>
                        </span>
                    </button>
                </div>
                <div class="top-navigation-main">
                    <nav class="main-nav-links">
                        <ul class="main-menu">
                            <!-- Dropdown -->
                            <li><a href="#">Services</a></li>
                            <!-- Links -->
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#" class="button-primary">Get a quote!</a></li>
                        </ul>
                    </nav>
                    <!-- Space reserved for other features -->
                </div>
            </div>
        </header>
        <div class="article-actions-container">
            <!-- Hamburger menu -->
            <button>
                <span>
                    <span>≡</span>
                </span>
            </button>
            <!-- Breadcrumb navigation bar -->
            <nav class="breadcrumb-container">
                <ol class="breadcrumb-list">
                    <!-- Add aria labels and resolve the accesibility issue with the content '→'. More info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Breadcrumb_Navigation -->
                    <li><a href="">Grand parent page</a></li>
                    <li><a href="">Parent page</a></li>
                    <li><a href="">Page</a></li>
                </ol>
            </nav>
        </div>
    </div>
</body>
</html>