<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
     <link rel="stylesheet" href="../static/css/merge-techniques.css">
    <title>Sidebar layout with Grid</title>
</head>
<body class="smol-sidebar">
    <nav>
        <ul class="nav-list">
            <li class="active" aria-current="page"><a href="#">Home</a></li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Blog</li>
            <li><a href="#"></a>Another</li>
            <li><a href="#"></a>Page</li>
            <li><a href="#"></a>And another</li>
        </ul>
    </nav>
    <main class="content-grid">
        <h1>dsmdsmds</h1>
        <h2>mdsmdsmds</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo nulla voluptatum?</p>
        <p class="breakout">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, rem doloribus. Labore atque illum quam corporis qui exercitationem architecto beatae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam rem amet voluptates voluptatibus et obcaecati ducimus dolorum iusto eaque! Possimus laudantium perspiciatis beatae molestias accusamus reprehenderit vero et numquam odio consequatur, quibusdam eius quod architecto, quas unde sit iste harum?</p>
    </main>
</body>
</html>