<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
     <link rel="stylesheet" href="../static/css/merge-techniques.css">
    <title>Sidebar layout with Grid</title>
</head>
<body class="smol-sidebar">
    <nav>
        <ul class="nav-list">
            <li class="active" aria-current="page"><a href="#">Home</a></li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Blog</li>
            <li><a href="#"></a>Another</li>
            <li><a href="#"></a>Page</li>
            <li><a href="#"></a>And another</li>
        </ul>
    </nav>
    <main class="content-grid">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, rem doloribus. Labore atque illum quam corporis qui exercitationem architecto beatae. Repellendus quasi architecto amet consequuntur odio, fugiat unde, quod repudiandae perspiciatis tenetur totam voluptatibus, dolore itaque officia a deleniti voluptates deserunt possimus. Delectus, suscipit natus. Ad distinctio aliquid unde amet fuga ea perferendis vel eius, iste nulla eum nesciunt accusantium? Quibusdam impedit repudiandae ducimus consequuntur totam eos doloremque praesentium molestiae. Qui illo, ut impedit iure sapiente, ad ex nam consectetur sint dolorum labore non nisi fuga voluptatem tempore ab sunt explicabo quo, totam assumenda. Nesciunt ad culpa explicabo nobis necessitatibus?</p>
    </main>
</body>
</html>