<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brutalistic style</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="..\static\css\Experimental\style2.css">

  <!-- Scripts -->
  <script src="..\static\javascript\Experimental\hamburger-menu2.js" defer></script>

</head>

<body>
  <header class="primary-header content-grid">
    <div class="primary-header__layout breakout">
      <!-- Logo -->
      <div class="primary-header__logo">
        <a href="" class="primary-header__logo-link">
          <img src="logo.png" alt="Logo" class="primary-header__logo-image">
        </a>
      </div>
      <!-- Hamburger menu -->
        <button id="hamburger" class="primary-header__toogle" aria-controls="primary-header__menu"
          aria-expanded="false">
          <span class="primary-header__toggle-icon" aria-hidden="true"></span>
        </button>
        <!-- Navigation -->
        <nav id="nav" class="primary-header__nav">
          <ul class="primary-header__menu">
            <li class="primary-header__menu-item">
              <a href="#" class="primary-header__menu-link">Services</a>
            </li>
            <li class="primary-header__menu-item">
              <a href="#" class="primary-header__menu-link">About</a>
            </li>
            <li class="primary-header__menu-item">
              <a href="#" class="primary-header__menu-link">Contact</a>
            </li>
          </ul>
        </nav>
    </div>
  </header>
</body>

</html>