<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brutalistic style</title>

        <!-- Stylesheet -->
    <link rel="stylesheet" href="..\static\css\brutal_style.css">
</head>
<body>
    <header id="navbar" class="primary-header content-grid">
      <div class="primary-header__layout breakout">

        <!-- Logo -->
        <div class="primary-header__logo">
          <a href="../index.html" class="primary-header__logo-link">
            <img src="/logo.svg" alt="Test" class="primary-header__logo-image">
          </a>
        </div>

        <!-- Hamburger menu (tablet/mobile only) -->
        <button class="primary-header__menu-toggle" aria-controls="primary-header__nav" aria-expanded="false">
          <span class="primary-header__menu-icon">☰</span>
          <span class="primary-header__menu-label">Menu</span>
        </button>
      
        <!-- Navigation -->
        <nav class="primary-header__nav">
        <ul class="primary-header__menu">
          <li class="primary-header__item">
              <a href="landing.html" class="primary-header__link">Landing</a>
            </li>
          <li class="primary-header__item">
            <a href="blog-page.html" class="primary-header__link">Blog</a>
          </li>
            <li class="primary-header__item">
            <a href="wiki-page.html" class="primary-header__link">Wiki</a>
          </li>
        </ul>
        </nav>
      
      </div>
    </header>
</body>
</html>