<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Model-viewer component -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="..\static\css\style.css">

    <!-- Scripts-->
     <script src="..\static\javascript\hide-navbar-on-scroll.js"></script>

    <title>Wiki page - Layout</title>
</head>
<body class="wiki-page">
<!-- Layout can be altered changing the body's class:
      - 'blog-page' → "Holy-grail" layout
      - 'wiki-page' → "Dashbord" layout -->

    <header id="navbar" class="primary-header content-grid">
        <div class="primary-header__layout breakout">
          <a href="../index.html" class="logo">Tadeo Riganti</a>
          <nav>
            <ul>
              <li><a href="landing.html">Landing</a></li>
              <li><a href="blog-page.html">Blog</a></li>
              <li><a href="wiki-page.html"><b>Wiki</b></a></li>
            </ul>
          </nav>
        </div>
    </header>
      
    <div class="holy-grail">
        
      <aside class="sidebar">
        <nav>
          <div class="toc-container">
            <h2 class="toc__title"> Table of contents</h2>
            <ul class="toc__list">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
            </ul>
          </div>
        </nav>
      </aside>
      
      <main class="main">
          <article>
            <section class="content-grid">
              <h2>About the "Breakout SMOL grid" / "No container grid"</h2>
              <p>
                It can be useful to have a system in place that's easy to go full-width, or have a "breakout" section for calls to action or blockquotes, or other things you want to call attention to.
              </p>
              <p class="breakout">
                Traditionally, we use a container or wrapper, which we need to close, and then open again, but thanks to grid, and with the recent additions of subgrid to all the evergreen browsers, maybe there's a better way to do things?
              </p>
              <p>
                It has it's downsides, as the code is more complex, and it's not as obvious how it works when we're so used to the old pattern.
              </p>
              <p>
                That said, we shouldn't limit ourselves just because we are used to working in a specific way.
              </p>
            </section>

            <section class="content-grid bg-tertiary section-padding">
              <h2>This section has a different background-color</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptates vitae reiciendis corporis molestias aspernatur vero eaque obcaecati neque dolores veritatis repudiandae voluptas consectetur voluptatum nobis maiores doloremque, nostrum deleniti!
              </p>
              <p>
                Aspernatur, dignissimos. Quaerat corporis, itaque porro dolore ea a placeat molestiae nihil voluptatem veniam facere, corrupti in vel, voluptates enim soluta sint dolores? Quaerat laboriosam iusto  voluptatem accusantium  ex alias?
              </p>
            </section>

            <section class="content-grid">
              <h2>Back to normal</h2>
              <p>
                To improve user experience, it's adviced to not overuse this type of resources, as the constant breakout feels as distracting as annoying. Avoid breakout the text line too frequently (as you can see right now).
              </p>
              <p class='breakout high-light'>
                A thumb of rule could be that the higger difference in witdh a breakout element has, the lesser its frequency of use should be. 
              </p>
              <p>
                In contrast, movile experience doesn't have this type of issues as the layout collaps and this types of breakouts get more nuanced (even full-width elements). Regardless of this, use it discreetly.
              </p>
              <h3>Images as full-bleed doesn't work on desktop..</h3>
              <img class='full-width' src="https://unsplash.it/1600/400" alt="A random image">
              <p>
                In desktop and wider screens, any element with the utilitarian class "full-width" will appear clipped as they will never meet the sides of the viewport; they are surrounded by two asides.
                In order to mask this error, a border radius is being applied to make it appear as a constrained element.
              </p>
              <p class="breakout high-light">
                The same thing happens if a background color utility class is applied.
                And for the sake of consistency, this rule also applies to breakout elements.
              </p>
              <p>
                Eligendi ea maiores asperiores sed nobis qui, animi sint? Ratione laboriosam cum quasi repudiandae in,
                necessitatibus veritatis nihil perferendis maiores consequuntur magnam perspiciatis minus est quibusdam,
                voluptate voluptas natus corporis.</p>
              <p>
                Vero, facilis! Animi quam dolor a sunt, quae placeat perspiciatis quia odio quisquam at tempore dolorem eum ratione vel minima eaque repellendus dolores architecto necessitatibus velit reprehenderit amet et rem.
              </p>
              <p>
                Quos, animi expedita facere iste soluta accusamus et facilis, temporibus nemo praesentium iusto aliquam
                voluptas magnam pariatur blanditiis optio, corporis laborum quas? Quis libero aperiam est fuga veniam eos tenetur?
              </p>
            </section>
            
            
            <section class="content-grid section-padding bg-tonal">

              <h2>Display options for 3D models:</h2>
              <p>
                If you have to display a collection, the ideal way is to present each object in a self-contained space. Everything displayed in this card has to be related to the object displayed.
              </p>
              <div class="card elevation-2 product light-theme">
                <div class="description">
                    <h3>Card's product</h2>
                    <p>
                      There are 2 containers inside a card, one for product's 'description' and another for its 'display. When viewport reaches 960px wide, it changes from 1 column to a 2 column layout.
                    </p>
                </div>
                <div class="content">
                    <div class="wrapper">
                      <model-viewer
                        alt="Modelo 3D de un sofa de 3 cuerpos"
                        src="..\static\assets\rack-tv.glb"
                        ar
                        camera-controls
                        camera-orbit="360deg 80deg"
                        max-camera-orbit="Infinity 94deg auto"
                        min-camera-orbit="-Infinity 22.5deg auto"
                        disable-pan
                        disable-zoom
                        shadow-intensity="1"
                        tone-mapping="aces">
                    </model-viewer>
                    </div>
                    <small><caption>You can add an epigraph if its needed. </caption></small>
                </div>
              </div>

              <h2>Viewport and aspect ratio</h2>
              <p>
                By default model-viewer components have an aspect ratio of 1:1. Height is the main attribute that this component will take into consideration to calculate its own size. 
              </p>
              <div class="card elevation-2 product">
                <div class="description">
                    <h3>Aspect ratio issues</h2>
                    <p>
                      What was said before means that, wider objects will produce unwanted margins in the Y axis; above and below the object. 
                    </p>
                    <p>
                      This is more noticeable in 1 column layouts. And as AR features are only displayed on movile devices, it's not a good thing to let it happen.
                    </p>
                </div>
                <div class="content">
                   <div class="wrapper">
                      <model-viewer
                      alt="Modelo 3D de un sofa de 3 cuerpos"
                      src="..\static\assets\sofa-3c.glb"
                      ar
                      camera-controls
                      camera-orbit="360deg 80deg 100%"
                      max-camera-orbit="Infinity 94deg auto"
                      min-camera-orbit="-Infinity 22.5deg auto"
                      disable-pan
                      disable-zoom
                      shadow-intensity="1"
                      tone-mapping="aces">
                      </model-viewer>
                   </div>
                    <small><caption>This distance also dissociates their epigraphs </caption></small>
                </div>
              </div>

              <h2>Wrapper & utilitarian classes</h2>
              <p>
                Model-viewer components doesn't have a default size. They inherit its size from its parent container.
              </p>
              <p>
                This means that we can use a '.wrapper' to manipulate it's size and aspect ratio via utilitarian classes (remember that by default viewports are square by default).
              </p>
              <div class="card elevation-2 product wider">
                <div class="description">
                    <h3>Wrapper and aspect ratio</h3>
                    <p>
                      Just add one of the following classes wherever the 'product' class lives.
                    </p>
                      <ul>
                        <li>'.wide' = 3:2</li>
                        <li>'.wider' = 2:1</li>
                        <li>'.narrow' = 2:3</li>
                        <li>'.narrower' = 1:2</li>
                      </ul>
                </div>
                <div class="content">
                  <div class="wrapper">
                    <model-viewer
                    alt="Modelo 3D de un sofa de 3 cuerpos"
                    src="..\static\assets\sofa-3c.glb"
                    ar
                    camera-controls
                    camera-orbit="360deg 80deg"
                    max-camera-orbit="Infinity 94deg auto"
                    min-camera-orbit="-Infinity 22.5deg auto"
                    disable-pan
                    disable-zoom
                    shadow-intensity="1"
                    tone-mapping="aces">
                    </model-viewer>
                  </div>
                  <small><caption>You can add an epigraph if its needed. </caption></small>
                </div>
              </div>

              <h2>Model-viewer attributes: Zoom</h2>
              <p>
                Althought aspect-ratio is now correct, a new problem has arise; our 3D model has shrinked 😱!
              </p>
              <p>
                As you may guessed, solving the viewport's aspect-ratio issue, it's just half of the solution. Luckily this can be easily solve by adjusting the "zoom" of the virtual camera of the viewport.
              </p>
              <p>
                This attribute is implicit on the 'camera-orbit' attribute. by default there are 2 values, [X-axis] and [Y-axis], but we can add a third to control the zoom:
              </p>
              <div class="card elevation-2 product wider">
                <div class="description">
                    <h3>Adjusting the zoom</h3>
                    <ul>
                      <li>No value = No zoom</li>
                      <li>50% = doubles the zoom</li>
                    </ul>
                </div>
                <div class="content">
                  <div class="wrapper">
                    <model-viewer
                    alt="Modelo 3D de un sofa de 3 cuerpos"
                    src="..\static\assets\sofa-3c.glb"
                    ar
                    camera-controls
                    camera-orbit="360deg 80deg 60%"
                    max-camera-orbit="Infinity 94deg auto"
                    min-camera-orbit="-Infinity 22.5deg auto"
                    disable-pan
                    disable-zoom
                    shadow-intensity="1"
                    tone-mapping="aces">
                    </model-viewer>
                  </div>
                  <small><caption>In this case we have used 60% zoom. </caption></small>
                </div>
              </div>
              <p>
                Sadly there is no way to change this via CSS rules, so it has to be hardcoded. In the future I'll have to craft a JS script.
              </p>
            </section>
          </article>
        </main>

        <aside class="ads">
          <h2 class="aside-title">Unrelated stuff</h2>
        </aside>
    </div>

    <footer class="content-grid dark-theme">
      <p class="breakout">@ 2025-2024</p>  
    </footer>
</body>
</html>